body, html{
    columns: #202124;
}
body, td,a,p,.h {
    font-family: arial,sans-serif;
}
 form{
    margin:auto;
    width:60%;
    height:60%;
    padding-top: 20%;
}
.upperRight{
    margin-left: 75%;
    padding-top: 10px;
    
}
.query{
    border-radius: 14px;
    width:60%;
    height: 40px;
}
.button{
  border-radius: 5px;
   color:black;
   margin-top: 10px;
   
}

    